body {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
}

/*HEADER STYLING*/
nav {
  background-color: transparent;
  padding: 15px 25px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

nav .main-menu-item {
  color: #e9edf1;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 0;
  padding: 6px 10px;
  float: right;
  display: block;
}

nav .sub-menu {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;

}

nav .main-menu-item:hover {
  color: white;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
}

nav .drop-down-item:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 6px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.3);
}

nav ul .sub-menu li {
  padding: 6px 10px 6px 10px;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */;
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
}

nav ul .sub-menu li:hover {
  background: rgba(0, 0, 0, 0.4);
}

nav .sub-menu-item {
  color: #e9edf1;
}

nav .sub-menu-item:hover {
  color: white;
  text-decoration: none;
}

nav .main-menu-item.active {
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 3px;
}

nav li:hover .drop-down-item { /*when over the list of a main menu item, keep that menu item highlighted*/
  color: white;
  float:none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 6px 10px 10px 10px;
}

nav li {
  margin: 0 10px 0 10px;
  list-style:none;
  display:inline;
  float:left;
}

nav li .sub-menu {
  display: none;
}

nav li:hover .sub-menu { /*when over the list of a main menu item, show that items sub-menu*/
  z-index: 5000;
  display: inline-block;
  position:absolute;
  margin:0 auto;
  padding:0;
}

nav li:hover li {
  display: block;
  float:none;
}

.brand span {
  color: white;
  font-size: 1em;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  position: relative;
  top: 1px;
  left: 8px;
}

.brand:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: .9;
}


/*SECTION STYLING*/
.info-block {
  overflow: auto;
  text-align: center;
  position: relative;
}

.info-block h1 {
  font-size: 4em;
  letter-spacing: 2px;
}

.info-block p {
  font-size: 1.5em;
}

.left-info-div{
  display: inline-block;
  padding: 20px 20px;
  text-align: right;
  width: 40%;
  vertical-align: middle;
}

.right-info-div{
  display: inline-block;
  padding: 20px 20px;
  width: 50%;
  text-align: left;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="-info-div"] {
        width: 100%;
    }
}

#intro {
  background-color: #669bd2;
  color: white;
  padding: 40px 0 85px 0;
  min-height: 685px;
}

#intro p {
  color: #ddf1f4;
}

#intro img {
  margin: 20px auto 30px auto;
}

#favorite-things {
  background-color: #7c8c6d;
  color: white;
  padding: 70px 0 85px 0;
  min-height: 685px;
}

#favorite-things .left-info-div span{
  display: table-cell;
}

#favorite-things .left-info-div p{
  max-width: 700px;
}

#favorite-things .right-info-div span{
  display: table-cell;
}

#code {
  background-color: #D8BE72;
  color: white;
  padding: 70px 0 85px 0;
  min-height: 685px;
}

#code .left-info-div span{
}

#code .right-info-div span{
}

#code .right-info-div p{
  max-width: 700px;
}

#contact {
  padding: 0 0 85px 0;
  min-height: 685px;
}

#contact h1 {
  padding: 70px 0 85px 0;
  height: 100%;
}

#contact h3 {
  color: black;
}

#contact img {
  width: 153px;
  margin: 0 auto;
  display: block;
}

#contact a:hover{
  color:black;
}

/*SCROLLER STYLING*/
.scroller-arrow {
  width: 60px;
  height: 60px;
  background-image: url(../img/arrow-big.png);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  position: relative;
}

.scroller-arrow-holder {
  width: 100%;
  background: transparent;
  bottom: 0;
  position: absolute;
}

.scroller-arrow-half {
  width: 72px;
  height: 33px;
  background-image: url(../img/arrow-half-white-opaque-arrow.png);
}

/*PICTURE DIVIDERS*/
.picture-divider {
  overflow: auto;
  text-align: center;
  position: relative;
  height: 600px;
}

#new-zealand-lake {
  background: url(../img/nz-lake-reflection.png) repeat-x center center;
  height: 100%;
}

#skydiving {
  background: url(../img/skydiving.JPG) repeat-x center center;
  height: 100%;
}

#camel {
  background: url(../img/camel2.jpg) repeat-x center center;
  height: 100%;
}

/*FOOTER*/
footer {
  background-color: #eee;
  padding: 30px;
  color: #555;
}

/*COLUMN CHART EXAMPLE PAGE*/
.col-chart-ex-page {
  margin-top: 62px;
}
.col-chart-ex-page .pane {
  margin: 1em auto 4em auto;
  width: 960px;
}


.col-chart-ex-page iframe {
  width: 960px;
  height: 500px;
  border: 1px solid #DEDEDE;
}

.chart-description {
  margin: 20px 10px;
}

.grid {
  overflow: hidden;
  margin: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

/*ABOUT PAGE*/
.about-page {
  margin-top: 62px;
}
.about-page .pane {
  margin: 1em auto 4em auto;
  width: 960px;
}

/* Common style */
.grid figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  width: 30%;
  height: auto;
  text-align: center;
}

.grid figure img {
  position: relative;
  display: block;
}

.grid figure h2 {
  font-size: .9em;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Marley *****/
/*---------------*/

figure.effect-marley figcaption {
  text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
  position: absolute;
  right: 20px;
  left: 20px;
  padding: 10px 0;
}


figure.effect-marley p {
  bottom: 20px;
  line-height: 1;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
  top: 20px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-marley:hover img{
  opacity: .45;
}

figure.effect-marley img{
  opacity: .7;
}

figure.effect-marley:hover{
  opacity: 0.99;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

figure.effect-marley{
  opacity: .99;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

figure.effect-marley h2::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  content: '';
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* entire container, keeps perspective */
.flip-container {
  margin: 0px auto;
  width:  200px
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 15px;
  width: 100%;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  margin-top:125px;
  margin-bottom:125px;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}